.nameAndDescriptionContainer{
    width: 300px;
    margin: 5px;
    margin-left: 15px;
    height: 73px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .quty{
    margin-left:155px;
  }
  .otherd {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: space-between; /* Distribute the elements evenly */
    align-items: center; /* Center the elements vertically */
  }
  
  .quty

  {
    /* Remove any default margin */
    padding: 10px;
    margin-right: 0px;
    margin-left: 50px; /* Add padding for horizontal spacing */
  }
  .status{
    padding: 10px;
    margin-right: 0px;
    margin-left: 120px;
    font-size: 20px; /
  }
  .description{
    font-size: 10px;
    justify-content: center;
  }
  .named{
    margin-left: 30px;
    margin-right: 15px;
    
  }
  .deliver-expected{
    padding: 10px;
    margin-right: 0px;
    margin-left: 115px;
    font-size: 20px;
  }