.custom-text-color {
    color: white;
    font-size: 17px;
  }

  .nav-item {
    margin-right: 30px;
    margin-left: 20px;
     /* Add right margin to create space between items */
  }
  .navbar-nav{
    display:flex;
    justify-content: space-between;
    margin-left:15px;
    
  }

  .buttonsContainer{
    margin-top: 0px;
    margin-right: 25px;
  }
.firstcard{
    display:flex;
    margin-top:20px;
}
.secondcard{
    display:flex;
    flex-direction:row;
    margin-top:20px;
}


  
  