.signInContainer {
    padding-top: 80px;;
      /* padding-left: 80px;   */
      
    }
    
    .centerSignIn{
       display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .buttonsContainer{
      margin-top: 25px;
      display: flex;
     
    }
    
    .forgotPassword{
      text-decoration: underline;
      margin-top: 15px;
      margin-right: 80px;
      font-size: 14px;
      transition: ease 0.2s;
    }
    
    .forgotPassword:hover{
    color: var(--buttonColor);
    cursor: pointer;
    }
    
    
    .imageContainer{
      right: 0;
      width: 55%;
      height: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background-color: rebeccapurple; */
    
    }
    
    .boxContainer{
      display: flex;
    }
    
    .imageBox{
    
    }
    
    .signInImage{
      width: 80%;
      margin-left: 10%;
    }
    
    
    .imgContainerText{
      margin-left: 20px;
      padding-top: 10px;
    }
    
    .newHereContainer{
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    
    .newHereButton{
      margin-left: 18px;
      margin-top: 5px;
    }
    
    .Orderrow{
      display: flex;
      flex-direction:row ;
      gap:115px;
      background-color: aliceblue;
      color:black;
      border-radius: 5px;
      height: 55px;
      font-size:16px;
      margin-right: 155px;
      margin-left: 125px;
      width: 1050px;
      margin-bottom: 35px;
      margin-top: 35px;
      
    }
    .item{
      margin-left: 35px;
    }

    .mainHeading{
     
       margin-bottom: 10px;
       text-align: center;
  margin-top: 20px;
    }
    .qty{
      margin-left: 80px;
    }