.maincontainner{
    background-color: aliceblue;
    width: 1100px;
    height: 600px;
    flex-direction: column; /* Stack the children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}
.pagecontainner{
    margin-top: 35px;
    display: flex;
    flex-direction: column; /* Stack the children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center;
}

.itemImage{
    margin-left: 50px;
    margin-top: 105px;
    position: absolute;

}
.detailcontainner{
    
    color: black;
 
    margin-left: 450px;
    margin-top: 105px;
    font-size: 30px; /* Add margin for spacing between image and details */

}
.detailcontainner p {
    font-size: 25px;
}
.trackingDetails{    font-size: 30px;
}

.trackingDetails{
    font-size: 25px;
}