.upload-avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Arrange elements in a column */
  }
  
  .avatar-container {
    text-align: center;
  }
  
  .avatar-image {
    border: 2px solid #333;
    border-radius: 50%;
    width: 150px; /* Adjust the width as needed to make the image smaller */
    height: 150px; /* Adjust the height as needed to make the image smaller */
    margin-bottom: 20px;
  }
  
  
  .account-name-container {
    text-align: center;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
  }
  